html {
  background: black;
}

div {
  margin: 0;
  padding: 0;
}
div div {
  background: #A4CA39;
  position: relative;
}

.android {
  height: 404px;
  width: 334px;
  margin: 100px auto;
}

.head {
  height: 100px;
  width: 220px;
  top: 32px;
  border-radius: 110px 110px 0 0;
  -webkit-transition: all 0.1s ease-in;
}

.left_eye, .right_eye {
  background: #fff;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 42px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.left_eye {
  left: 50px;
}

.right_eye {
  right: 50px;
}

.left_ant, .right_ant {
  height: 50px;
  width: 6px;
  position: absolute;
  top: -34px;
  border-radius: 3px;
}

.left_ant {
  left: 50px;
  transform: rotate(-30deg);
}

.right_ant {
  right: 50px;
  transform: rotate(30deg);
}

.body {
  height: 184px;
  width: 220px;
  top: 40px;
  border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  -webkit-border-radius: 0 0 25px 25px;
}

.left_arm, .right_arm, .left_leg, .right_leg {
  width: 50px;
  position: absolute;
  -webkit-transition: all 0.1s ease-in;
}

.left_arm, .right_arm {
  height: 150px;
  border-radius: 25px;
}

.left_leg, .right_leg {
  height: 80px;
  top: 182px;
  border-radius: 0 0 25px 25px;
}

.left_arm {
  left: -58px;
}

.right_arm {
  right: -58px;
}

.left_leg {
  left: 45px;
}

.right_leg {
  right: 45px;
}

.head:hover {
  -webkit-transform: rotate(-5deg) translate(-4px, -8px);
  -transform: rotate(-5deg) translate(-4px, -8px);
  -moz-transform: rotate(-5deg) translate(-4px, -8px);
}

.left_arm:hover {
  -webkit-transform: rotate(15deg) translate(-14px, 0);
  -transform: rotate(15deg) translate(-14px, 0);
  -moz-transform: rotate(15deg) translate(-14px, 0);
}

.right_arm:hover {
  -webkit-transform: rotate(-30deg) translate(30px, 0);
  -transform: rotate(-30deg) translate(30px, 0);
  -moz-transform: rotate(-30deg) translate(30px, 0);
}
