.outer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  margin-top: -200px;
  margin-left: -200px;
  background: #29434E;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.pacman {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 150px;
  left: 150px;
  fill: none;
  stroke: #FFEE00;
  stroke-width: 50px;
  stroke-linecap: butt;
  stroke-dasharray: 157;
  z-index: 2;
  animation: mouth 0.7s ease-in-out infinite;
}

.eye {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 167px;
  left: 204px;
  fill: #29434E;
  z-index: 3;
  animation: eye 0.7s ease-in-out infinite;
}

.dots {
  position: absolute;
  height: 14px;
  width: 240px;
  top: 193px;
  left: 180px;
  stroke: white;
  stroke-width: 14px;
  stroke-dasharray: 0px 50px;
  stroke-linecap: round;
  stroke-dashoffset: 14;
  z-index: 1;
  animation: points 0.7s linear infinite;
}

@keyframes mouth {
  0%, 100% {
    stroke-dashoffset: 0;
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  50% {
    stroke-dashoffset: 39.25;
    transform: rotate(45deg);
  }
}
@keyframes eye {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-6px, -3px, 0);
  }
}
@keyframes points {
  0% {
    stroke-dashoffset: 14;
    transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: 64;
  }
}
