@import url("https://fonts.googleapis.com/css?family=Questrial");

body {
  font-family: "Questrial", sans-serif;
}

.outer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  margin-top: -200px;
  margin-left: -200px;
  color: #ECEFF1;
  background: #819CA9;
  font-size: 1rem;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.center {
  position: absolute;
  height: 212px;
  width: 212px;
  top: 87px;
  left: 87px;
  background: #29434E;
  text-align: center;
  border: 7px solid #546E7A;
  border-radius: 50%;
  font-size: 15px;
}
.center .heart-icon {
  height: 0.8em;
  width: 0.8em;
}
.center .date {
  position: absolute;
  top: 68px;
  width: 100%;
}
.center .time {
  position: absolute;
  top: 80px;
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin: 4px 0;
}
.center .beat {
  position: absolute;
  top: 129px;
  left: 50px;
  font-size: 14px;
}
.center .beat img {
  margin-top: 1px;
  margin-left: 4px;
  animation: beat 0.9s ease-in-out infinite;
}
.center .energy {
  position: absolute;
  top: 129px;
  right: 50px;
  font-size: 14px;
}

.point-set-1 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(0deg);
}
.point-set-1 .point-1, .point-set-1 .point-2, .point-set-1 .point-3, .point-set-1 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-1 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-1 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-1 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-2 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(6deg);
}
.point-set-2 .point-1, .point-set-2 .point-2, .point-set-2 .point-3, .point-set-2 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-2 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-2 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-2 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-3 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(12deg);
}
.point-set-3 .point-1, .point-set-3 .point-2, .point-set-3 .point-3, .point-set-3 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-3 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-3 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-3 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-4 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(18deg);
}
.point-set-4 .point-1, .point-set-4 .point-2, .point-set-4 .point-3, .point-set-4 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-4 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-4 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-4 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-5 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(24deg);
}
.point-set-5 .point-1, .point-set-5 .point-2, .point-set-5 .point-3, .point-set-5 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-5 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-5 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-5 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-6 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(30deg);
}
.point-set-6 .point-1, .point-set-6 .point-2, .point-set-6 .point-3, .point-set-6 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-6 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-6 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-6 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-7 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(36deg);
}
.point-set-7 .point-1, .point-set-7 .point-2, .point-set-7 .point-3, .point-set-7 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-7 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-7 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-7 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-8 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(42deg);
}
.point-set-8 .point-1, .point-set-8 .point-2, .point-set-8 .point-3, .point-set-8 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-8 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-8 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-8 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-9 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(48deg);
}
.point-set-9 .point-1, .point-set-9 .point-2, .point-set-9 .point-3, .point-set-9 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-9 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-9 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-9 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-10 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(54deg);
}
.point-set-10 .point-1, .point-set-10 .point-2, .point-set-10 .point-3, .point-set-10 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-10 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-10 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-10 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-11 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(60deg);
}
.point-set-11 .point-1, .point-set-11 .point-2, .point-set-11 .point-3, .point-set-11 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-11 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-11 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-11 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-12 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(66deg);
}
.point-set-12 .point-1, .point-set-12 .point-2, .point-set-12 .point-3, .point-set-12 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-12 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-12 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-12 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-13 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(72deg);
}
.point-set-13 .point-1, .point-set-13 .point-2, .point-set-13 .point-3, .point-set-13 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-13 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-13 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-13 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-14 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(78deg);
}
.point-set-14 .point-1, .point-set-14 .point-2, .point-set-14 .point-3, .point-set-14 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-14 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-14 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-14 .point-4 {
  top: 93px;
  left: 0;
}

.point-set-15 {
  position: absolute;
  height: 188px;
  width: 188px;
  top: 12px;
  left: 12px;
  transform: rotate(84deg);
}
.point-set-15 .point-1, .point-set-15 .point-2, .point-set-15 .point-3, .point-set-15 .point-4 {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 0;
  left: 93px;
  background: white;
  border-radius: 50%;
}
.point-set-15 .point-2 {
  top: 93px;
  left: auto;
  right: 0;
}
.point-set-15 .point-3 {
  top: auto;
  bottom: 0;
}
.point-set-15 .point-4 {
  top: 93px;
  left: 0;
}

.ring {
  position: absolute;
  height: 202px;
  width: 202px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
}
.ring .mask-1 {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip: rect(0, 202px, 202px, 101px);
  animation: mask-1 10s steps(1) infinite;
}
.ring .mask-1 .spin {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  border: 3px solid #4DD0E1;
  border-radius: 100% 0 0 100%/50% 0 0 50%;
  border-right: none;
  transform-origin: 100% 50%;
  animation: rotate-1 10s linear infinite;
}
.ring .mask-2 {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip: rect(0, 101px, 202px, 0);
  animation: mask-2 10s steps(1) infinite;
}
.ring .mask-2 .spin {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  border: 3px solid #4DD0E1;
  border-radius: 100% 0 0 100%/50% 0 0 50%;
  border-right: none;
  transform-origin: 100% 50%;
  animation: rotate-2 10s linear infinite;
}

@keyframes rotate-1 {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(180deg);
  }
  25% {
    transform: rotate(360deg);
  }
  37.5% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(540deg);
  }
  62.5% {
    transform: rotate(540deg);
  }
  75% {
    transform: rotate(540deg);
  }
  87.5% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes mask-1 {
  0% {
    clip: rect(0, 202px, 202px, 101px);
  }
  12.5%, 25%, 37.5%, 50% {
    clip: rect(0, 101px, 202px, 0);
  }
  62.5%, 75%, 82.5%, 100% {
    clip: rect(0, 202px, 202px, 101px);
  }
}
@keyframes rotate-2 {
  0% {
    transform: rotate(180deg);
  }
  12.5% {
    transform: rotate(180deg);
  }
  25% {
    transform: rotate(180deg);
  }
  37.5% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(360deg);
  }
  62.5% {
    transform: rotate(540deg);
  }
  75% {
    transform: rotate(720deg);
  }
  87.5% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(900deg);
  }
}

@keyframes mask-2 {
  0% {
    clip: rect(0, 101px, 202px, 0);
  }
  12.5%, 25%, 37.5%, 50% {
    clip: rect(0, 202px, 202px, 101px);
  }
  62.5%, 75%, 82.5%, 100% {
    clip: rect(0, 101px, 202px, 0);
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.2);
  }
}
